<div class="height60 _scrollAuto-y">
    <div *ngFor="let deviceGroup of data.device_groups;index as i;">
        <div class="row" *ngIf="i>0">
            &nbsp;
        </div>
        <div *ngFor="let device of data.device_groups[i].devices;index as j;">
            <div class="row" *ngIf="data.device_groups[i].devices[j].active==1">

                <div class="col-12">
                    {{data.device_groups[i].devices[j].name}}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="height20">
    <div *ngIf="objectKeys(selectedProtocols).length>0">
        <div *ngFor="let proto of objectKeys(selectedProtocols)">

                {{selectedProtocols[proto]}}

        </div>
    </div>
    <div *ngIf="objectKeys(selectedProtocols).length==0">
        Select protocol
    </div>
</div>
<div class="height10">
    <div *ngFor="let period of objectKeys(selectedPeriod)">
        {{selectedPeriod[period]}}
    </div>
</div>
<div class="height10 d-inline-block">
    <span (click)="onClear()"> Clear
        <button type="button" class="btn btn-info btn-sm">Start learning </button>
    </span>
</div>