.height60{

    height: 60%;
    min-height:60% ;
    max-height: 60%;
}
.height10{

    height: 10%;
    min-height:10% ;
    max-height: 10%;
}
.height20{

    height: 20%;
    min-height:20% ;
    max-height: 20%;
}
._scrollAuto-y{
    overflow-y: auto;
    overflow-x:hidden ;
}