<div *ngFor="let deviceGroup of data;index as i;">
    <div class="row ">

        <div class=" col-12 groupColor">
            <i [class]='!isCollapsed[i]?"fa fa-angle-down":"fa fa-angle-up"' (click)="isCollapsed[i] = !isCollapsed[i]"
               [attr.aria-expanded]="!isCollapsed[i]"
            ></i>

            <input type="checkbox" [ngModel]="filter_parent[i]"
                   (ngModelChange)="onFilterChange($event,true,undefined,i)">
            <span> {{data[i].name}}</span>


        </div>
        <div [ngbCollapse]="isCollapsed[i]">
            <div *ngFor="let device of data[i].devices;index as j;">
                <div class="row">

                    <div class="col-12 left30">
                        <input type="checkbox" [ngModel]=filter_childs[i][j]
                               (ngModelChange)="onFilterChange($event,false,j,i)">
                        <span>{{data[i].devices[j].name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


