<div *ngFor="let protocol of data;index as i;"  class="background">
        <div class=" col-10">
            <input type="checkbox" [ngModel]="filter_parent[i]"
                   (ngModelChange)="onFilterChange($event,i)">
            <span>{{data[i].name}}</span>
        </div>
</div>