<div *ngFor="let time of data;index as i;" class="background">

    <div class="col-10 radio">
        <input type="radio" name="radiogroup" [checked]='i==0?"checked":""'
               [value]="filter"
               (change)="onFilterChange(i)">
        {{time.name}}
    </div>
</div>

