<div class="row _100pers null">
    <app-black-boxes class="d-inline-block col-3 _scrollAuto _cont_test "></app-black-boxes>
    <app-protocols class="d-inline-block col-3 _scrollAuto _cont_test "></app-protocols>
    <app-periods class="d-inline-block col-3 _scrollAuto _cont_test "></app-periods>
    <app-summary class="d-inline-block col-3 _scrollAuto _cont_test _"></app-summary>
</div>
