.null{
    padding: 0px;
    margin: 0px;
}
._border_test{
    border: 1px solid black;
}
._cont_test{
    width: calc( 100% - 2px ) ;
    height: 100%;
    min-height: 100%;
    background: snow;
    display: block;
}

._100pers{
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}
._scrollAuto{
    overflow: auto!important;
}